body{
    /* includes margin and padding in height/width */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    box-sizing: border-box;
}
#flexContainer{
    display: flex;
}
aside, #rightSection{
    
    /* covers barely the whole view height */
    min-height: 95vh;
    
}
#rightSection{
    padding: 2rem;
    border: 2px solid rgb(225, 225, 250);
}
aside{
    /* margin-left: 30vw; */
    max-width: 30%;
    background-color: rgb(225, 225, 250);
}
img{
    height: 20vh;
    width: auto;
    border-radius: 3rem;
    margin: 2rem;
}

.contactContainer{
    padding: 1rem;
}
.contactInfo{
    margin: 1rem;
}
h4{
    margin: 0.5rem;
}
p{
    margin: 0.5rem;
}
.infoText{
    margin-bottom: 2rem;
}
a:visited{
    color: black;
}
